<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>edu.lcu.masterfollies.server.GreetingServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/masterfollies/greet</url-pattern>
  </servlet-mapping>
  
  <!-- context for spring -->
  <context-param>
   <param-name>contextConfigLocation</param-name>
   <param-value>classpath*:META-INF/spring/applicationContext*.xml</param-value>
 </context-param>
 
 <!-- listener for spring to init -->
 <listener>
   <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
 </listener>
  

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>masterfollies.html</welcome-file>
  </welcome-file-list>

</web-app>
