
@def selectionBorderWidth 0px;

body{
	color: gray;
   	height: 1024px;
   	background: #333333;
		background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#666666));
		background: -moz-linear-gradient(top, #000000, #666666) no-repeat;
}

.cellListWidget {
}

.cellListEvenItem {
	cursor: pointer;
	outline: none;
	border-bottom: 1px solid #ddd;
	border: 2px;
	background: none repeat scroll 0 0 #FFFFFF;
	padding: 10px;
	font-weight: bold;
	font-size: 12pt;
}

.cellListOddItem {
	cursor: pointer;
	border: 2px;
	border-bottom: 1px solid #ddd;
	padding: 10px;
	font-weight: bold;
	font-size: 12pt;
}

.cellTableOddRow {
  background: #ffffff;
}
.cellTableEvenRow {
  background: #ffffff;
}


.cellTableHoveredRowCell {
  border: selectionBorderWidth solid #eee;
}

.cellTableEvenRowCell {
  border: selectionBorderWidth solid #ffffff;
}

.cellTableOddRowCell {
  border: selectionBorderWidth solid #f3f7fb;
}


.gwt-DialogBox {
  border: 0;
  position: absolute;
  top:0;
  padding: 0px;
	
}

.gwt-DialogBox .gwt-Label {
	margin: 9px;
	font-weight: bold;
	top: 0;
	}
	
	.round {
	  -moz-border-radius: 15px;
	border-radius: 15px;
		border-width: 1px;
	border-spacing: 2px;
	border-style: outset;
	border-color: gray;
	border-collapse: separate;
	background-color: white;
	 }
	
	.gwt-DialogBox .gwt-TextBox {
		margin: 8px;
	}
	
.gwt-DecoratorPanel .middleCenter {

 }
.gwt-Label-Error {
	color: red;
}
 
 .dialogContent table {
 	width: 100%;
 }

.gwt-DialogBox table {
	margin: 0;
	margin-top: 10px;
	width: 100%;
	}
.dialogContent table {
	margin: 0;
	}

.cellListKeyboardSelectedItem {
}

.cellListSelectedItem {
}

.secondaryProp {
	padding-top: 2px;
	color: #888;
	font-size: 10pt;
	overflow: hidden;
	min-height: 10pt;
}

.dateProp {
	padding-top: 2px;
	text-align: right;
	color: #888;
	font-size: 10pt;
	overflow: hidden;
	position: absolute;
	top: 0px;
	right: 10px;
}

.gwt-TextBox {
	border: 0px solid black;
	color: gray;
    font-size: 12pt;
    font-weight: normal;
    padding: 0;
}

.gwt-PasswordTextBox {
	border: 0px solid black;
	color: gray;
    font-size: 12pt;
    font-weight: normal;
    padding: 0;
    margin: 8px;
}

.gwt-DateBox {
	border: 1px solid black;
	padding: 1px;	
}

.loginMessage {
    color: wheat;
    font-size: 10pt;
    font-weight: normal;
    margin-top: 80px;
}

.loginTitle {
	color: white;
	font-size: 24pt;
	margin-top: -80px;
	font-weight: bold;
}

.blackglossyCSSButtonbutton
{
      background: url("images/blackIpadButton.png") no-repeat scroll 0 0 transparent;
    color: white;
    font-size: 12pt;
    height: 42px;
    margin: 15px;
    border: 0;
    padding: 0;
    width: 162px;
}
